/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ebebeb;
	--color-foreground:#fff;
	--color-footer:#000;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body {
	font-family: "Noto sans";
	background-color: var(--color-background);
}

header {
	background-color: var(--color-foreground);
}

footer {
	background-color: var(--color-footer);
	color: var(--color-foreground);
}